@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo Loja de Produtos MCZ</h1>
    <p>Em breve mais conteúdo díponivel !! <a href="https://maceio.al.gov.br/">Para uma busca mais abrangente consulte o site da nossa prefeitura!</a>.</p>
</div>
